*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $gray900;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
h2 {
  font-size: $font-size-base * 1.5;
}

small {
  color: $gray600;
}
code{
  color: $primary;
  background-color: $gray100;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.material-icons,
.material-icons-outlined {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  transform: translateY(-0.1em);
}
