<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 p-5">
        <h5 class="modal-title fs-2">New Admin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-5 pt-0">
        <div>
          <h6 class="fs-3 fw-bold mb-3">Account</h6>
          <div class="mb-3">
            <label for="userName" class="form-label fs-4">Name</label>
            <input type="name" class="form-control" id="userName" />
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label fs-4">Email</label>
            <input type="email" class="form-control" id="userEmail" />
          </div>
        </div>
        <div class="border-top-1 pt-4">
          <h6 class="fs-4 fw-bold mb-3">Verification</h6>
          <p class="mb-3">
            <span class="material-icons fs-3 me-2 line-height-xs text-danger">
              warning </span>Unverified
          </p>
          <div class="mb-4">
            <button type="button" class="btn btn-outline-success w-100 py-3 border-gray400">Send Verification
              Mail</button>
          </div>
        </div>
        <div class="border-top-1 pt-4">
          <h6 class="fs-4 fw-bold mb-3">Access Level</h6>
          <div class="mb-3">
            <select class="form-select py-3 text-gray600">
              <option selected>-Choose access level-</option>
            </select>
          </div>
        </div>
        <div class="border-top-1 pt-4">
          <h6 class="fs-4 fw-bold mb-3">Custom Access</h6>
          <div class="mb-3">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="lectureChecked">
              <label class="form-check-label fs-4" for="lectureChecked">
                lecture
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="couponChecked">
              <label class="form-check-label fs-4" for="couponChecked">
                Coupon
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="messageChecked">
              <label class="form-check-label fs-4" for="messageChecked">
                Message
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="settingChecked">
              <label class="form-check-label fs-4" for="settingChecked">
                Setting
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="taskmenuChecked">
              <label class="form-check-label fs-4" for="taskmenuChecked">
                task menu
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success me-3 px-5 py-2" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-success px-5 py-2">Add</button>
      </div>
    </div>
  </div>
</div>