<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div class="wrap d-flex">
      <div class="sidebar bg-gray100 d-flex flex-column">
        <header class="sidebar__header">
          <img src="./assets/images/logo-ANSWER.svg" alt="logo" />
        </header>
        <ul class="menu fw-bold flex-grow-1">
          <li class="menu__item">
            <a href="" class="menu__link text-reset">
              <span class="material-icons fs-5 mr-3">
                assessment
              </span>
              Dashboard
            </a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link text-reset">
              <span class="material-icons fs-5 mr-3"> question_answer </span
              >Question</a
            >
          </li>
          <li class="menu__item active">
            <a href="" class="menu__link text-reset">
              <span class="material-icons fs-5  mr-3"> assignment </span
              >Assignment</a
            >
          </li>
          <li class="menu__item">
            <a href="" class="menu__link text-reset">
              <span class="material-icons fs-5  mr-3"> video_library </span
              >Course</a
            >
          </li>
          <li class="menu__item">
            <a href="./main-admin.html" class="menu__link text-reset">
              <span class="material-icons fs-5  mr-3"> people </span>Admin</a
            >
          </li>
          <li class="menu__item">
            <a href="" class="menu__link text-reset">
              <span class="material-icons fs-5  mr-3"> settings </span
              >Settings</a
            >
          </li>
        </ul>
        <footer class="profile d-flex">
          <div class="profile__avatar bg__avatar-user2 rounded-50 mr-3"></div>
          <div>
            <p class="fw-bold">Andy Chen</p>
            <small class="fs-2">andy0401@mail.com</small>
          </div>
        </footer>
      </div>
      <div class="content flex-grow-1">
        <header class="w-100 pb-5 d-flex">
          <h2 class="mr-7 line-height-sm">Assignment</h2>
          <div class="dropdown">
            <a class="text-reset fw-bold" href="#">
              All Courses
              <span class="material-icons text-primary fs-5 ml-2">
                expand_more
              </span>
            </a>
          </div>
          <ul class="notify ml-auto d-flex">
            <li>
              <span class="material-icons line-height-sm fs-5 mr-4">
                search
              </span>
            </li>
            <li>
              <span class="material-icons line-height-sm fs-5">
                notifications_active
              </span>
            </li>
          </ul>
        </header>
        <%- contents %>
      </div>
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
