.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;

  > [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.col-no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.col {
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
  flex-grow: 1;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
    max-width: 100% * ($i / $grid-columns);
    flex: 0 0 (100% * ($i / $grid-columns));
  }
}

.row-gutters-sm {
  margin-left: -($gutter-width / 4) !important;
  margin-right: -($gutter-width / 4) !important;

  > [class*="col-"] {
    padding-left: $gutter-width/4 !important;
    padding-right: $gutter-width/4 !important;
  }
}
